#btnClose{
   margin-bottom: 2rem;

  
}

#detailsContent{
   color: white;
}
.card{
   height: 50vh;
 border-radius: 5px;
 transition: transform 0.5s;

}


.card:hover{
transform: scale(1.05);

}

.button{
   bottom:  8rem;
   left: 13rem;
}
.navbar-nav{
   margin-left: 35rem;
}

a{
color: inherit !important;
} 


 nav {

  
    border-radius: 20px;
   
 } 
 .nav-item .nav-link.active,
.nav-item .nav-link:hover {
   color: red !important;
   transition: color 0.5s;
}


.loading {
   position: fixed;
   z-index: 9999;
   inset: 0;
   background-color: #272b30e3;
   display: flex;
   justify-content: center;
   align-items: center;
}
.loader {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   display: inline-block;
   border-top: 4px solid #fff;
   border-right: 4px solid transparent;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
   position: relative;
}
.loader::after {
   content: "";
   box-sizing: border-box;
   position: absolute;
   left: 0;
   top: 0;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border-left: 4px solid #ff3d00;
   border-bottom: 4px solid transparent;
   animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}